.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.logo-text {
    width: 500px;
    height: auto;
    filter: brightness(1.1);
}

.left-side {
    flex: 1;
    background-color: #031C30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    flex: 1.3;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #031C30;
}

.right-side h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 250px;
}

.login-form label {
    font-weight: 500;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

.login-form input:hover {
    outline: 2px solid #003366;
}

.login-form button {
    background-color: #031C30;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s ease;
    width: 150px;
    margin: 0 auto;
}

.login-form button:hover {
    background-color: #003366;
}